<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB99caHhRW1ypsBrgI3xLOZUvfxXfGDeBg</string>
	<key>GCM_SENDER_ID</key>
	<string>770365062515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.routerunner</string>
	<key>PROJECT_ID</key>
	<string>route-runner-9fb1d</string>
	<key>STORAGE_BUCKET</key>
	<string>route-runner-9fb1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770365062515:ios:411d54244a024f7c5f1906</string>
</dict>
</plist>